.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: #777;
}
.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #4979ff;
  border-radius: 4px;
  color: white;
  text-align: center;
}

.btn1 {
  display: block;
  padding: 8px 0;
  width: 250px;
  margin: 5px auto;
  background: #ffffff;
  border-radius: 1px;
  color: rgb(121, 121, 121);
  text-align: center;
}

.btn2 {
  display: block;
  padding: 8px 0;
  width: 250px;
  margin: 5px auto;
  background: #56a2e0;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.btn3 {
  display: block;
  padding: 8px 0;
  width: 250px;
  margin: 5px auto;
  background: #ca5e5e;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.btn4 {
  display: block;
  padding: 5px 0;
  width: 200px;
  margin: 5px auto;
  background: #ffffff;
  border-radius: 7px;
  color: rgb(121, 121, 121);
  text-align: left;
}

.btn5 {
  display: flexbox;
  padding: 8px 0;
  width: 50px;
  margin: 5px auto;
  background: #ffffff;
  border-radius: 4px;
  color: rgb(121, 121, 121);
  text-align: center;
}

.btn6 {
  display: block;
  padding: 8px 0;
  width: 70px;
  margin: 1px auto;
  background: #56a2e0;
  border-radius: 1px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.btn7 {
  display: block;
  padding: 8px 0;
  width: 150px;
  margin: 1px auto;
  background: #f3a514;
  border-radius: 1px;
  color: rgb(255, 255, 255);
  text-align: center;
}